/* Style the top navigation menu */
@keyframes slideInFromTop {
    0% {
      opacity: 0;        
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
}
    50% {
      opacity: 1;                
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
  }

  @keyframes fadeinone {
    0% {
      opacity: 0;
    }
    80%{
      opacity: 1;  
    }
  
  }

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 1;
    animation: 1s ease-out 0s 1 slideInFromTop;
    -webkit-animation: 1s ease-out 0s 1 slideInFromTop;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

main {
    animation: fadeinone 1s;
    -webkit-animation: fadeinone 1s;
}

.top-menu {
    background-color: #322e3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: clamp(400px, 1080px, 1080px);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin-top: 10px;
}

.logo-container, .menu-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.small-logo {
    display: block;
    margin-right: 10px;
    margin: 0;
    padding: 0;
}

.large-logo {
    display: none;
}

.main-menu {
    display: block;
    justify-content: center;
    margin-top: 0px;
    padding: 0;
}

.menu-hidden {
    opacity: 0;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    margin: 0 0 px;
    padding: 10px 20px;
}

.main-menu a, .small-logo a {
    text-decoration: none;
    font-size: 14px;
    color: aliceblue;
    padding: 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.main-menu a:hover, .small-logo a:hover {
    color: chartreuse;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 2px  #ab9dd1;
}

/* Media query for responsive design */
@media screen and (max-width: 1024px) {
    .top-menu {
        display: block;
        text-align: center;
    }
    .top-menu .logo-container {
        display:block;
        scale: 2.5;
    }
    
    .top-menu .small-logo{
        margin: 24px;
    }

    .top-menu .small-logo a:hover {
        box-shadow: none;
    }

    .top-menu .menu-container {
        display: block;
        text-align: center;
    }

    /* Remove sticky positioning on smaller screens */
    header {
        position: static;
        top: auto;
        z-index: auto;
    }

    .top-menu .main-menu ul {
        display: block;
        margin: 5px 0px;
        padding: 5px 0;
    }

}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .top-menu {
        display: flex;
    }
    .top-menu .logo-container {
        display: flex;
        scale: 1.0;
    }
    .top-menu .small-logo {
        display: none;
    }


    .top-menu .large-logo {
        display: block;
        width: 300px;
    }

    .top-menu .menu-container {
        text-align: center;
    }

    /* Remove sticky positioning on smaller screens */
    header {
        position: static;
        top: auto;
        z-index: auto;
    }

    .top-menu .main-menu li {
        display: block;
        margin: 5px 0px;
        padding: 5px 0;
    }
}