header {
    display: flex;
    width: 100%;
    justify-content: center;
    /* Center the contents horizontally within the main-menu */
    align-items: center;
    /* Ensure it appears above other content */
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

/* Style the top navigation menu */
.top-menu {
    background-color: #322e3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: clamp(400px, 1080px, 1080px);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin-top: 10px;
}

.logo-container, .menu-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.small-logo {
    display: block;
    margin-right: 10px;
    margin: 0;
    padding: 0;
    font-size:22px;
}

.large-logo {
    display: none;
    /* Hide the large logo by default */
}

.main-menu {
    display: block;
    justify-content: center;
    margin-top: 0px;
    padding: 0;
}

/* When the menu should fade out (e.g., when it goes away), set the opacity to 0 */
.menu-hidden {
    opacity: 0;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    margin: 0 0 px;
    padding: 10px 20px;
}

.main-menu a, .small-logo a {
    text-decoration: none;
    color: #fff;
    /* Text color for menu items */
    font-size: 14px;
    /* Adjust font size as needed */
    color: aliceblue;
    text-decoration: none;
    padding: 12px;
}

.main-menu a:hover, .small-logo a:hover {
    color: chartreuse;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 2px  #ab9dd1;
}

/* Media query for responsive design */
@media screen and (max-width: 600px) {
    .small-logo {
        display: none;
        /* Hide the small logo on smaller devices */
    }

    .large-logo {
        display: block;
        width: 300px;
        /* Display the large logo on smaller devices */
    }

    .menu-container {
        text-align: center;
        /* Center-align the menu items on smaller devices */
    }

    /* Remove sticky positioning on smaller screens */
    header {
        position: static;
        top: auto;
        z-index: auto;
    }

    .main-menu li {
        display: block;
        margin: 5px 0px;
        padding: 5px 0;
        /* Adjust padding for mobile devices */
    }
}