body {
    margin: 0px;
    padding: 0px;
 }


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#test {
    display: flex;
    margin: 0%;
    padding: 0%;
    background-image: url("images/XRStudio-Cyberpunk.png");
    background-size: 800px 800px;
    background-clip: padding-box;
    background-position: left;
    /* background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 880px;
    height: 880px;
}

#test ul {
    margin-top:240px;
    margin-left:40px
}


@media screen and ( max-width:800px ){
    #test {
        width: 110vw;
        height: 110vw;
    }
 
    #test ul {
        margin-top: 30vw;
        margin-left: 40px
    }
}



#test a {
    color:aliceblue;
    text-decoration: none;
    font-size: 100%;
    padding:6px;
    padding-left: 12px;
    padding-right: 12px;
    text-shadow: 0px 0px 3px black;
    background-color: #322e3d;
    opacity: 0.8;
}
#test a:hover {
     background-color: black;
     color:chartreuse;
}
ul {
    list-style-type: none;
}
ul:before {
    content:attr(aria-label);
    font-size:110%;
    margin-left:-34px;
    color:aliceblue;
    text-shadow: 0px 0px 3px black;
    background-color: black;
    padding-left:18px;
    padding-right:18px;
    padding-top:6px;
    padding-bottom:6px;
    opacity: 0.8;
}
li {
    padding:4px;
    margin-top:6px;
}

#first {
    margin-top: 16px;
}


#gamejams a {
    color: #ab9dd1;
    text-decoration: none;
    font-size: 100%;
    text-shadow: 0px 0px 3px black;
    opacity: 0.8;
}
#gamejams a:hover {
     color:chartreuse;
}

#gamejams h2{
    color:#ff9812;
    display: flex;
}


@supports (background-image: linear-gradient()){

    #gamejams h2{
        background-color:#ff9812;
        background-image: linear-gradient(to top, #ff3419 0% , #ffd20b 100%);
        background-image: -webkit-linear-gradient(to top, #ff3419 0% , #ffd20b 100%);
        background-image: -moz-linear-gradient(to top, #ff3419 0% , #ffd20b 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

}
